*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-transform: uppercase;
}

body, ul{
    margin: 0;
    padding: 0;
}

body{
    border-top: 8px solid #cac8c5;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

.grey-text{
    color: #ababab;
}

#logo::after, #logo::before{
    content: "";
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
    top: 0;
}

#logo::before{
    background: #f8d277;
    margin: 0 45px 0 0;
    position: absolute;
    left: 0;
}

#logo::after{
    background: #f2ac04;
    position: absolute;
    left: 15px;
}

#container{
    max-width: 1000px;
    margin: auto;
}


#logo{
    position: relative;
    width: 245px;
    display:flex;
    align-items: center;
    font-size: 30px;
    justify-content: flex-end;
    padding-right: 35px;
    border-right: 1px solid #cac8c5;
}

header,#header-top{
    display: flex;
    flex-wrap: wrap;
}

#header-top{
    padding: 40px 0;
    width: 100%;
}

#header-text{
    padding-left: 25px;
}

#header-text h4{
    color: #f2ac04;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 18px 0;
}

#header-menu{
    width:100%;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

#header-menu ul{
    display:flex;
}

#header-menu ul li a{
    display: block;
    padding: 15px 35px;
    color: #ababab;
    text-transform: uppercase;
}

#header-menu ul li:first-child a{
    padding-left: 0;
}

#banners{
    display:flex;
    flex-wrap: wrap;
}

#banners > div {
    width: 50%;
}

#banners > div img{
    max-width: 100%;
    border: 1px solid black;
}
#banners .bn-left .wrap {
    margin-right: 15px;
    border: 1px solid gray;
}

#banners .bn-right .wrap {
    margin-left: 15px;
    position:relative;
}

#banners .bn-right .img-block{
    position: relative;
}

#banners .bn-right h3{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size:2vw;
    color: green;
    font-weight: normal;
}

#banners i {
    color: #f2ac84;
    font-size: 26px;
}

#banners .bn-right p{
    border-top: 1px solid #000;
    margin-top: 5px;
}

#banners .slide{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}